* {
  all: unset;
}

* {
  font-size: 32px;
  font-family: "Free Mono";
  font-weight: bold;
}

.minute {
  font-size: 150px;
  color: #a485dd;
}

.hour {
  font-size: 150px;
  color: #f5bde6;
}

.second {
  font-size: 50px;
  color: #ed8796;
}

.small-date {
  font-size: 35px;
  color: #ed8796;
}
